
body, html {
   height: 80%; 
   width: 100%;
  }


.background {
  background-color: lightgoldenrodyellow;
}

.kusimus {
  border: red;
}
.test {
  height: 100%;

}


.vasaknupp {
  flex-direction: column;

  background-color: lightblue;
 
  padding: 10px;
  padding-right: 100px;
}

.paremnupp {
  flex-direction: column;

  background-color: lightblue;
 
  padding: 10px;
  padding-left: 100px;
}

.vasakup { /* vasak ulemine checkbox nupp*/
  border-radius: 5px 0px 0px 0px;
  background-color: lightblue;

  padding: 10px;
}
.vasakdown { /* vasak alumine checkbox nupp*/
  border-radius: 0px 0px 0px 5px;
}

.paremup { /* parem ulemine checkbox nupp*/
  border-radius: 0px 5px 0px 0px;
 

  
}
.paremdown { /* parem alumine checkbox nupp*/
  border-radius: 0px 0px 5px 0px;
}

h1 {
  color: black;
  position: relative;
  top: 200px;
  text-align: center;
}