
body, html {
   height: 90%; 
   width: 100%;
  }


.background {
  background-color: lightgoldenrodyellow;
}

.kusimus {
  border: red;
}
.test {
  height: 80%;

}


.vasaknupp {
  flex-direction: column;

  background-color: lightblue;
 
  padding: 10px;
  padding-right: 100px;
}

.paremnupp {
  flex-direction: column;

  background-color: lightblue;
 
  padding: 10px;
  padding-left: 4q0px;
}

.vasakup { /* vasak ulemine checkbox nupp*/
  border-radius: 5px 0px 0px 0px;
  background-color: lightblue;

  padding: 10px;
}
.vasakdown { /* vasak alumine checkbox nupp*/
  border-radius: 0px 0px 0px 5px;
}

.paremup { /* parem ulemine checkbox nupp*/
  border-radius: 0px 5px 0px 0px;
 

  
}
.paremdown { /* parem alumine checkbox nupp*/
  border-radius: 0px 0px 5px 0px;
}

h1 {
  color: black;
  position: relative;
  top:5px;
  text-align: center;
}

Logo {
  
  position: fixed;
	font-size:400%;
	margin: 5%;
}

Logo a {
  position: fixed;
  top: 5px;
	text-decoration:none;
	color: #41a4b2;
}

.vahe {
  margin-bottom:10%;
}

.ulemine {
  border-radius: 5px 5px 0px 0px;
}

.alumine {
  border-radius: 0px 0px 5px 5px;
}