<!DOCTYPE html>
<html>
    <head>
        <title>Unimatch</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='index.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>

    <body class="background">
        <Logo><a href="http://127.0.0.1:5000/">UniMatch</a></Logo>
        <h1>Millisel erialal/valdkonnas soovid omandada kõrgharidust?</h1>
            <div class="d-flex justify-content-center align-items-center test" style:border="red">
                <div class="nupud">
                    <div class="btn-group-toggle-lg vasaknupp vasakup" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                        <input type="checkbox" unchecked autocomplete="off"> Eesti
                        </label>
                    </div>
                    <div class="btn-group-toggle-lg vasaknupp" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                        <input type="checkbox" unchecked autocomplete="off"> Läti
                        </label>
                    </div>
                    <div class="btn-group-toggle-lg vasaknupp vasakdown" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                        <input type="checkbox" unchecked autocomplete="off"> Leedu
                        </label>
                    </div>
                </div> 
                <div class="nupud">
                    <div class="btn-group-toggle-lg paremnupp paremup" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                        <input type="checkbox" unchecked autocomplete="off"> Inglismaa
                        </label>
                    </div>
                    <div class="btn-group-toggle-lg paremnupp" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                        <input type="checkbox" unchecked autocomplete="off"> Saksamaa
                        </label>
                    </div>
                    <div class="btn-group-toggle-lg paremnupp paremdown"  data-toggle="buttons">
                        <label class="btn btn-secondary active">
                        <input type="checkbox" unchecked autocomplete="off"> Hispaania
                        </label>
                    </div>
                </div>          
            </div>
            <h1>Millises (riigis/linnas) peaks ülikool asuma?</h1>
            <div class="d-flex justify-content-center align-items-center test" style:border="red">
                <div class="nupud">
                    <div class="btn-group-toggle-lg vasaknupp vasakup" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                        <input type="checkbox" unchecked autocomplete="off"> Eesti
                        </label>
                    </div>
                    <div class="btn-group-toggle-lg vasaknupp" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                        <input type="checkbox" unchecked autocomplete="off"> Läti
                        </label>
                    </div>
                    <div class="btn-group-toggle-lg vasaknupp vasakdown" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                        <input type="checkbox" unchecked autocomplete="off"> Leedu
                        </label>
                    </div>
                </div> 
                <div class="nupud">
                    <div class="btn-group-toggle-lg paremnupp paremup" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                        <input type="checkbox" unchecked autocomplete="off"> Inglismaa
                        </label>
                    </div>
                    <div class="btn-group-toggle-lg paremnupp" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                        <input type="checkbox" unchecked autocomplete="off"> Saksamaa
                        </label>
                    </div>
                    <div class="btn-group-toggle-lg paremnupp paremdown"  data-toggle="buttons">
                        <label class="btn btn-secondary active">
                        <input type="checkbox" unchecked autocomplete="off"> Hispaania
                        </label>
                    </div>
                </div>          
            </div>
            <h1>Mis riigis soovid õppida?</h1>
            <div class="d-flex justify-content-center align-items-center test" style:border="red">
                <div class="nupud">
                    <div class="btn-group-toggle-lg vasaknupp vasakup" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                        <input type="checkbox" unchecked autocomplete="off"> Eesti
                        </label>
                    </div>
                    <div class="btn-group-toggle-lg vasaknupp" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                        <input type="checkbox" unchecked autocomplete="off"> Läti
                        </label>
                    </div>
                    <div class="btn-group-toggle-lg vasaknupp vasakdown" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                        <input type="checkbox" unchecked autocomplete="off"> Leedu
                        </label>
                    </div>
                </div> 
                <div class="nupud">
                    <div class="btn-group-toggle-lg paremnupp paremup" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                        <input type="checkbox" unchecked autocomplete="off"> Inglismaa
                        </label>
                    </div>
                    <div class="btn-group-toggle-lg paremnupp" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                        <input type="checkbox" unchecked autocomplete="off"> Saksamaa
                        </label>
                    </div>
                    <div class="btn-group-toggle-lg paremnupp paremdown"  data-toggle="buttons">
                        <label class="btn btn-secondary active">
                        <input type="checkbox" unchecked autocomplete="off"> Hispaania
                        </label>
                    </div>
                </div>          
            </div>
            <h1>Mis riigis soovid õppida?</h1>
            <div class="d-flex justify-content-center align-items-center test" style:border="red">
                <div class="nupud">
                    <div class="btn-group-toggle-lg vasaknupp vasakup" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                        <input type="checkbox" unchecked autocomplete="off"> Eesti
                        </label>
                    </div>
                    <div class="btn-group-toggle-lg vasaknupp" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                        <input type="checkbox" unchecked autocomplete="off"> Läti
                        </label>
                    </div>
                    <div class="btn-group-toggle-lg vasaknupp vasakdown" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                        <input type="checkbox" unchecked autocomplete="off"> Leedu
                        </label>
                    </div>
                </div> 
                <div class="nupud">
                    <div class="btn-group-toggle-lg paremnupp paremup" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                        <input type="checkbox" unchecked autocomplete="off"> Inglismaa
                        </label>
                    </div>
                    <div class="btn-group-toggle-lg paremnupp" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                        <input type="checkbox" unchecked autocomplete="off"> Saksamaa
                        </label>
                    </div>
                    <div class="btn-group-toggle-lg paremnupp paremdown"  data-toggle="buttons">
                        <label class="btn btn-secondary active">
                        <input type="checkbox" unchecked autocomplete="off"> Hispaania
                        </label>
                    </div>
                </div>          
            </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim .min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>