<!DOCTYPE html>
<html>
    <head>
        <title>Unimatch</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='index.css') }}">
    </head>
    <body class="background">
            <div class="ui grid" style:border="red">
                <div class="nupp">
                <button class="ui button nupp">
                    Button
                </button>
                <button class="ui button nupp">
                    Button
                </button>
                <button class="ui button nupp">
                    Button
                </button>
            </div>
            </div>
    </body>
</html>