


<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='makett.css') }}" >
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
</head>
<body>
<topbox>
    <Logo><a href="makett.html">UniMatch</a></Logo>
</topbox>
<infobox>
    <slogan>Choosing Made Easier!</slogan><br>
    <sloganline>_________________________________________</sloganline><br><br>
	<info>UniMatch helps you find your higher education. </sloganinfo>		
</infobox>
<fastnavlr>
    <a href=""><fastnav>Start Here!</fastnav></a>
</fastnavlr>
<br>
<smallline></smallline>
<br>
<searchbox>
    <br>
    
</searchbox>
</body>