


<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='makett.css') }}" >
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
</head>
<body>
<topbox>
    <Logo><a href="http://127.0.0.1:5000/">UniMatch</a></Logo>
</topbox>
<infobox>
    <slogan>Valimine lihtsaks tehtud!</slogan><br>
    <sloganline>_________________________________________</sloganline><br><br>
	<info>UniMatch aitab leida just sinu jaoks õige Euroopa kõrgkooli!. </sloganinfo>		
</infobox>
<fastnavlr>
    <a href="http://127.0.0.1:5000/kusimustik/"><fastnav>Alusta siit!</fastnav></a>
</fastnavlr>
<br>
<smallline></smallline>
<br>
<searchbox>
    <br>
    
</searchbox>
</body>